<DOCTYPE html>
  <html>
    <head>
      <title>Login</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'index.css' %}" />
    </head>
    <body>
      <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
          <img src="{% static 'img/regsiter.png' %}" />

          <form method="POST">
            {% csrf_token %}

            <div class="formbold-form-title">
              <h2>Student Login</h2>
            </div>

            <!-- Roll No -->
            <div class="formbold-mb-3">
              <label class="formbold-form-label">Roll No</label>
              <input
                type="text"
                name="roll_no"
                class="formbold-form-input"
                required
              />
            </div>

            <div class="formbold-mb-3">
              <label class="formbold-form-label">Program</label>
              <select name="program" class="formbold-form-input" required>
                <option value="" disabled selected>Select Program</option>
                <option value="AI">Artificial Intelligence (AI)</option>
                <option value="TN">Telecommunication (TN)</option>
                <option value="CS">Computer Science (CS)</option>
                <option value="SE">Software Engineering (SE)</option>
              </select>
            </div>

            <!-- Password -->
            <div class="formbold-mb-3">
              <label class="formbold-form-label">Password</label>
              <input
                type="password"
                name="password"
                class="formbold-form-input"
                required
              />
            </div>

            <button type="submit" class="formbold-btn">Login</button>

            <p class="formbold-already">
              Don't have an account? <a href="/register">Sign up</a>
            </p>

            {% if success %}
            <p class="message-success">{{ success }}</p>
            {% endif %} {% if error %}
            <p class="message-error">{{ error }}</p>
            {% endif %}
          </form>
        </div>
      </div>
    </body>
  </html></DOCTYPE
>
